{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navigation %}
{% include "forms/partials/ubuntu_navigation.html" %}
{% endblock %}

{% block content %}
<p>{{ email }}</p>
<p>{{ firstname }}</p>
<div class="u-fixed-width">
    {% autoescape false %}
    {{ form }}
    {% endautoescape %}
</div>
<script defer src="{{ versioned_static('js/navigation.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('dist.static', filename='base_canonical.css') }}" />
{% endblock %}

{% block footer %} 
{% include "forms/partials/ubuntu_footer.html" %}
{% endblock %}
